# Main Packages ---------------------
pip
setuptools
wheel
psycopg2

# Heroku Packages -------------------
gunicorn
django-heroku
whitenoise
scout-apm

# Django Packages -------------------
Django~=3.1.7
dj-database-url
django-cors-headers
django-createuser
django-extensions
django-filter
djangorestframework
django-rest-auth
django-allauth
django-mathfilters

# Other Packages --------------------
python-dotenv
pytz
sqlparse
stripe
urllib3