{% load static %}


<footer class="footer bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>WORKING HOURS</h6>
                    <ul>
                        <li>Monday - Friday: 08:00 am – 08:30 pm</li>
                        <li>Saturday: 10:00 am – 16:30 pm</li>
                        <li>Sunday: 10:00 am – 16:30 pm</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore dolore magna aliqua.</p>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__newsletter">
                    <h6>Subscribe</h6>
                    <p>Get latest updates and offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit"><i class="fa fa-send-o"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p class="copyright__text text-white">
                        Copyright ©<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--footer class='py-4 px-5 bg-secondary' style='width: 100%'>
    <div class='nav nav-tabs'>
        <a class='nav-item nav-link active' data-toggle='tab' href='#contact-us' role='tab' aria-controls='contact-us' aria-selected='true'>Contact Us</a>
        <a class='nav-item nav-link' data-toggle='tab' href='#about-us' role='tab' aria-controls='about-us' aria-selected='true'>About Us</a>
        <a class='nav-item nav-link' data-toggle='tab' href='#contact-us' role='tab' aria-controls='main' aria-selected='true'>Link</a>
    </div>

    <div class='tab-content border-bottom border-left border-right py-4 border-primary' id='tab-content'>
        <div class='tab-pane container-fluid fade show active' id='contact-us' role='tabpanel' aria-labelledby='main-tab'>
            <div class='row text-light'>
                <div class='col-4'>
                    <form id='contact-form' class='text-center'>
                        <h4>Contact Us</h4>
                        <div class='row'>
                            <div class='col-6'>
                                <div class='form-outline mb-4'>
                                    <input type='text' id='name' name='name' class='form-control'>
                                    <label class='form-label' for='name'>Name</label>
                                    <div class='form-notch'>
                                        <div class='form-notch-leading' style='width: 9px;'></div>
                                        <div class='form-notch-middle' style='width: 42px;'></div>
                                        <div class='form-notch-trailing'></div>
                                    </div>
                                </div>
                            </div>

                            <div class='col-6'>
                                <div class='form-outline mb-4'>
                                    <input type='email' id='email' name='email' class='form-control'>
                                    <label class='form-label' for='email' style='margin-left: 0;'>Email address</label>
                                    <div class='form-notch'>
                                        <div class='form-notch-leading' style='width: 9px;'></div>
                                        <div class='form-notch-middle' style='width: 89px;'></div>
                                        <div class='form-notch-trailing'></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='form-outline mb-4'>
                            <textarea class='form-control' id='message' name='message' rows='4'></textarea>
                            <label class='form-label' for='message' style='margin-left: 0;'>Message</label>
                            <div class='form-notch'>
                                <div class='form-notch-leading' style='width: 9px;'></div>
                                <div class='form-notch-middle' style='width: 60px;'></div>
                                <div class='form-notch-trailing'></div>
                            </div>
                        </div>

                        <button class='btn btn-primary btn-block mb-4'>Send</button>
                    </form>
                </div>

                <div class='col-4 border-left'>
                    <h4 class='text-center'>Contact Information</h4>

                    <div class="cstext">
                        <label><strong>Email:</strong> ?</label><br/>
                        <label><strong>Phone #:</strong> ?</label><br/>
                        <strong>MON-FRI</strong> 09:00 - 18:00<br/>
                        <strong>WEEKLY, HOLIDAY OFF</strong>
                    </div>
                </div>

                <div class='col-4 border-left'>
                    <h4 class='text-center'><i class='fa fa-globe'></i> Social Media</h4>

                    <div class='card-body'>
                        <i class='fa fa-facebook'></i> E-Commerce FB<br/>
                        <i class='fa fa-twitter'></i> E-Commerce Twitter<br/>
                        <i class='fa fa-instagram'></i> E-Commerce Instagram<br/>
                    </div>
                    <hr/>

                    <div class='card-body pb-0 pt-5'>
                        <p class='mt-5 mb-0 align-text-bottom text-light small'>Copyright © 2020. All Rights Reserved by Cherry Tree</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='tab-pane container-fluid fade' id='about-us' role='tabpanel' aria-labelledby='main-tab'>
            <div class='row text-light'>
                <div class='col-4'>
                    <form id='contact-form' class='text-center'>
                        <h4>Contact Us</h4>
                        <div class='row'>
                            <div class='col-6'>
                                <div class='form-outline mb-4'>
                                    <input type='text' id='name' name='name' class='form-control'>
                                    <label class='form-label' for='name'>Name</label>
                                    <div class='form-notch'>
                                        <div class='form-notch-leading' style='width: 9px;'></div>
                                        <div class='form-notch-middle' style='width: 42px;'></div>
                                        <div class='form-notch-trailing'></div>
                                    </div>
                                </div>
                            </div>

                            <div class='col-6'>
                                <div class='form-outline mb-4'>
                                    <input type='email' id='email' name='email' class='form-control'>
                                    <label class='form-label' for='email' style='margin-left: 0;'>Email address</label>
                                    <div class='form-notch'>
                                        <div class='form-notch-leading' style='width: 9px;'></div>
                                        <div class='form-notch-middle' style='width: 89px;'></div>
                                        <div class='form-notch-trailing'></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='form-outline mb-4'>
                            <textarea class='form-control' id='message' name='message' rows='4'></textarea>
                            <label class='form-label' for='message' style='margin-left: 0;'>Message</label>
                            <div class='form-notch'>
                                <div class='form-notch-leading' style='width: 9px;'></div>
                                <div class='form-notch-middle' style='width: 60px;'></div>
                                <div class='form-notch-trailing'></div>
                            </div>
                        </div>

                        <button class='btn btn-primary btn-block mb-4'>Send</button>
                    </form>
                </div>

                <div class='col-4 border-left'>
                    <h4 class='text-center'>Contact Information</h4>

                    <div class="cstext">
                        <label><strong>Email:</strong> ?</label><br/>
                        <label><strong>Phone #:</strong> ?</label><br/>
                        <strong>MON-FRI</strong> 09:00 - 18:00<br/>
                        <strong>WEEKLY, HOLIDAY OFF</strong>
                    </div>
                </div>

                <div class='col-4 border-left'>
                    <h4 class='text-center'><i class='fa fa-globe'></i> Social Media</h4>

                    <div class='card-body'>
                        <i class='fa fa-facebook'></i> E-Commerce FB<br/>
                        <i class='fa fa-twitter'></i> E-Commerce Twitter<br/>
                        <i class='fa fa-instagram'></i> E-Commerce Instagram<br/>
                    </div>
                    <hr/>

                    <div class='card-body pb-0 pt-5'>
                        <p class='mt-5 mb-0 align-text-bottom text-light small'>Copyright © 2020. All Rights Reserved by Cherry Tree</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer-->