{% load static %}


<nav class='navbar navbar-expand-lg navbar-light bg-secondary'>
    <div class='container-fluid'>
        <a class='navbar-brand' href='#'>Navbar</a>

        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDarkDropdown' aria-controls='navbarNavDarkDropdown' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarNavDarkDropdown'>
            <div class='navbar-nav'>
                <a class='nav-item nav-link' href="{% url 'index' %}">Link</a>
            </div>
        </div>
    </div>
</nav>


<nav class='container-fluid navbar navbar-expand-lg navbar-light bg-light py-0'>
    <div class='offset-md-1 col-1'>
        <div class='collapse navbar-collapse navbar-nav' id='navbarNavDarkDropdown'>
            <div class='nav-item dropdown cat-button'>
                <a class='nav-link dropdown-toggle cat-button-text' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false'>카테고리</a>
                <div class='dropdown-content dropdown-menu dropdown-menu-light' aria-labelledby='navbarDarkDropdownMenuLink'>
                    <div class='dropdown dropdown-item dropend'>
                        <a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' aria-expanded='false'>패션의류/잡화</a>
                        <div class='dropdown-menu'>
                            <a class='dropdown-item' href='#'>여성패션</a>
                            <a class='dropdown-item' href='#'>남성패션</a>
                            <a class='dropdown-item' href='#'>유아동패션</a>
                        </div>
                    </div>

                    <div class='dropdown dropdown-item dropend'>
                        <a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' aria-expanded='false'>홈인테리어</a>
                        <div class='dropdown-menu'>
                            <a class='dropdown-item' href='#'>봄침구샵</a>
                            <a class='dropdown-item' href='#'>싱글하우스</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='ps-3 col-8'>
        <div class='collapse navbar-collapse navbar-nav container'>
            <a class='navbar-brand' href="{% url 'index' %}">
                <img width='174' height='41' src="{% static 'images/logo.png' %}" alt=''>
            </a>
            <form class='nav-item col'>
                <div class='input-group'>
                    <select class='form-seledct' aria-label='Category' style='width: 100px !important;'>
                        <option selected>Choose...</option>
                        <option value='1'>One</option>
                        <option value='2'>Two</option>
                        <option value='3'>Three</option>
                    </select>
                    <input type='text' class='form-control' aria-label='Text input with segmented dropdown button'>
                    <button type='button' class='btn btn-outline-secondary'>
                        <i class='fa fa-search'></i>
                    </button>
                </div>
            </form>
            <a href="{% url 'profile' user %}" class="nav-item nav-link">
                <i class='fa fa-user'></i> 마이 프로필
            </a>
            <a href="{% url 'cart' %}" class="nav-item nav-link">
                <i class='fa fa-shopping-cart'></i> 장바구니
            </a>
        </div>

        <div class='collapse navbar-collapse navbar-nav'>
            <a class='nav-item nav-link'>test</a>
            <a class='nav-item nav-link'>test</a>
        </div>
    </div>
</nav>
