{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}

{% block content %}
    <div class="breadcrumb-option" style="" switch-adjust-width-normal="11">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shopping cart</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}">Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="shopping-cart spad" style="" switch-adjust-width-normal="12">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if products|length < 1 %}
                                <tr>
                                    <td colspan="4" class="product__cart__item">
                                        <div class="product__cart__item__text">
                                            <h6>Nothing in the cart.</h6>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}

                            {% for prod in products %}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{% static prod.products.get_image_path %}" alt='{{ prod.products.name }}'>
                                        </div>
                                        <div class="product__cart__item__text">
                                            <input name='prod_id' value='{{ prod.id }}' aria-label='{{ prod.id }}' hidden>
                                            <h6>{{ prod.products.name }}</h6>
                                            <h5>${{ prod.products.price |mul:prod.quantity|floatformat:2 }}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <span class="dec qtybtn">-</span>
                                                <input type="text" value='{{ prod.quantity }}' aria-label='Quantity'>
                                                <span class="inc qtybtn">+</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">${{ prod.products.price|floatformat:2 }}</td>
                                    <td class="cart__close"><a class="icon_close" href='{% url 'delete' prod.id %}'></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code" aria-label="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>

                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <div>
                            <div>Subtotal <span>${{ total_info.1|floatformat:2 }}</span></div>
                            <hr/>
                            <div>Tax <span>${{ total_info.1|floatformat:2 }}</span></div>
                            <div>Total <span>${{ total_info.1|floatformat:2 }}</span></div>
                        </div>
                        {% if products|length > 0 %}
                            <a href="{% url 'pay' %}" class="btn btn-primary">Proceed to checkout</a>
                        {% else %}
                            <a class="btn btn-primary disabled">Empty Cart</a>
                        {% endif %}
                    </div>

                    <div class="cart__total mt-4">
                        <h6>Security Policy</h6>
                        <div>Text</div>
                    </div>

                    <div class="cart__total mt-4">
                        <h6>Delivery Policy</h6>
                        <div>Text</div>
                    </div>

                    <div class="cart__total mt-4">
                        <h6>Return Policy</h6>
                        <div>Text</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
{% endblock %}