{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link type='text/css' rel='stylesheet' href='{% static 'css/store.css' %}'>
    <style>
        .element-errors {
            display: inline-flex;
            height: 20px;
            margin: 15px auto 0;
            padding-left: 20px;
            color: #e25950;
            opacity: 0;
            transform: translateY(10px);
            transition-property: opacity, transform;
            transition-duration: 0.35s;
            transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            background: url({% static '/images/error.svg' %}) center left no-repeat;
            background-size: 15px 15px;
        }

        #confirmation .status {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 75px 0 275px;
            max-width: 75%;
            height: 350px;
            margin: 100px auto;
            background: #fff url({% static '/images/order.svg' %}) 75px center no-repeat;
            box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15);
            border-radius: 6px;
        }

        @media only screen and (max-width: 500px) {
            #confirmation .status {
                width: auto;
                height: auto;
                padding: 120px 15px 15px;
                background: #fff url({% static '/images/order.svg' %}) center 15px no-repeat;
                background-size: 68px 86px;
                box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15);
                border-radius: 6px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                                here</a> to enter your code</h6>
                            <h6 class="checkout__title">Billing Details</h6>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text" value='{{ user.get_short_name }}' aria-label='First Name'>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text" value='{{ user.get_last_name }}' aria-label='Last Name'>
                                    </div>
                                </div>
                            </div>

                            <div class="checkout__input">
                                <p>Street Address<span>*</span></p>
                                <input type="text" class="checkout__input__add" value='{{ user.get_address.0 }}'>
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text" value='{{ user.get_address.1 }}'>
                            </div>
                            <div class="checkout__input">
                                <p>Province/State<span>*</span></p>
                                <input type="text" value='{{ user.get_address.2 }}'>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <select name='country' id='country'></select>
                                <!--input type="text" value='{{ user.get_address.4 }}'-->
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input type="text" value='{{ user.get_address.3 }}'>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="checkout__input">
                                <p>Payment Information<span>*</span></p>
                                <div class='payment-info card visible'>
                                    <fieldset>
                                        <div id='card-element' class='field StripeElement StripeElement--empty'>
                                            <div class='__PrivateStripeElement' style='margin: 0 !important; padding: 0 !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;'>
                                                <iframe allowtransparency='true' name='__privateStripeFrame2475' allowpaymentrequest='true'
                                                        src='https://js.stripe.com/v3/elements-inner-card-bcfa140ccd341b0462fa6104de2a811c.html#wait=false&amp;hidePostalCode=true&amp;style[base][iconColor]=%23666ee8&amp;style[base][color]=%2331325f&amp;style[base][fontWeight]=400&amp;style[base][fontFamily]=-apple-system%2C+BlinkMacSystemFont%2C+%22Segoe+UI%22%2C+Roboto%2C+Oxygen-Sans%2C+Ubuntu%2C+Cantarell%2C+%22Helvetica+Neue%22%2C+sans-serif&amp;style[base][fontSmoothing]=antialiased&amp;style[base][fontSize]=15px&amp;style[base][::placeholder][color]=%23aab7c4&amp;style[base][:-webkit-autofill][color]=%23666ee8&amp;rtl=false&amp;componentName=card&amp;keyMode=test&amp;apiKey=pk_test_PInFiPUnGR6pzLYZ2IE6oyPf&amp;origin=https%3A%2F%2Fstripe-payments-demo.appspot.com&amp;referrer=https%3A%2F%2Fstripe-payments-demo.appspot.com%2F&amp;controllerId=__privateStripeController2471'
                                                        title='Secure card payment input frame'
                                                        style='border: none !important; margin: 0 !important; padding: 0 !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translateZ(0px) !important; height: 18px;'></iframe>
                                                <input class='__PrivateStripeElement-input' aria-hidden='true' aria-label=' ' autocomplete='false' maxlength='1'
                                                       style='border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0 !important; left: 0 !important; padding: 0 !important; margin: 0 !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;'>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="checkout__input__checkbox">
                                <label for="diff-acc">
                                    Note about your order, e.g, special note for delivery
                                    <input type="checkbox" id="diff-acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input">
                                <p>Order notes</p>
                                <input type="text" placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h6 class="order__title">Your order</h6>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    <li><samp>01.</samp> Vanilla salted caramel <span>$ 300.0</span></li>
                                    <li><samp>02.</samp> German chocolate <span>$ 170.0</span></li>
                                    <li><samp>03.</samp> Sweet autumn <span>$ 170.0</span></li>
                                    <li><samp>04.</samp> Cluten free mini dozen <span>$ 110.0</span></li>
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>$750.99</span></li>
                                    <li>Total <span>$750.99</span></li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Check Payment
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Paypal
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>







    <form method='POST' action=''>

        <button class='btn btn-block btn-primary mt-4' type='submit'>Pay ${{ total_cost|floatformat:2 }}</button>
    </form>





    <div id='card-errors' class='element-errors'></div>
    <div id='iban-errors' class='element-errors'></div>
    <div id='becs-errors' class='element-errors'></div>
    <div id='confirmation'>
        <div class='status processing'>
            <h1>Completing your order…</h1>
            <p>We’re just waiting for the confirmation from your bank… This might take a moment but feel free to close this page.</p>
            <p>We’ll send your receipt via email shortly.</p>
        </div>
        <div class='status success'>
            <h1>Thanks for your order!</h1>
            <p>Woot! You successfully made a payment with Stripe.</p>
            <p class='note'>We just sent your receipt to your email address, and your items will be on their way shortly.</p>
        </div>
        <div class='status receiver'>
            <h1>Thanks! One last step!</h1>
            <p>Please make a payment using the details below to complete your order.</p>
            <div class='info'></div>
        </div>
        <div class='status error'>
            <h1>Oops, payment failed.</h1>
            <p>It looks like your order could not be paid at this time. Please try again or select a different payment option.</p>
            <p class='error-message'></p>
        </div>
    </div>

    <aside id='summary'>
        <div class='header'>
            <h1>Order Summary</h1>
        </div>
        <div id='order-items'></div>
        <div id='order-total'>
            <div class='line-item subtotal'>
                <p class='label'>Subtotal</p>
                <p class='price' data-subtotal></p>
            </div>
            <div class='line-item shipping'>
                <p class='label'>Shipping</p>
                <p class='price'>Free</p>
            </div>
            <div class='line-item demo'>
                <div id='demo'>
                    <p class='label'>Demo in test mode</p>
                    <p class='note'>You can copy and paste the following test cards to trigger different scenarios:</p>
                    <table class='note'>
                        <tr>
                            <td>Default US card:</td>
                            <td class='card-number'>4242<span></span>4242<span></span>4242<span></span>4242</td>
                        </tr>
                        <tr>
                            <td><a href='https://stripe.com/guides/strong-customer-authentication' target='_blank'>Authentication</a> required:</td>
                            <td class='card-number'>4000<span></span>0027<span></span>6000<span></span>3184</td>
                        </tr>
                    </table>
                    <p class='note'>
                        See the <a href='https://stripe.com/docs/testing#cards' target='_blank'>docs</a> for a full list of test cards.
                        Non-card payments will redirect to test pages.
                    </p>
                </div>
            </div>
            <div class='line-item total'>
                <p class='label'>Total</p>
                <p class='price' data-total></p>
            </div>
        </div>
    </aside>
{% endblock %}

{% block script %}
    <script src='https://js.stripe.com/v3/'></script>
    <script src='{% static 'js/main.js' %}'></script>

    <script>
        $(document).ready(function () {
            get_country_list(document.getElementById('country'), '{{ user.country }}');
        });

        const buy_now_button = document.querySelector('#buy_now_btn')
        /*buy_now_button.addEventListener('click', event => {
            fetch('/checkout/')
                .then((result) => {
                    return result.json()
                })
                .then((data) => {
                    const stripe = Stripe(data.stripe_public_key);

                    stripe.redirectToCheckout({
                        // Make the id field from the Checkout Session creation API response
                        // available to this file, so you can provide it as parameter here
                        // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                        sessionId: data.session_id
                    }).then(function (result) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, display the localized error message to your customer
                        // using `result.error.message`.
                    });
                })
        });*/
    </script>
{% endblock %}